table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}
table {
    background-color: #628ca6;
}
thead {
    color: white;
    background-color: #628ca6;
}
tfoot {
    column-span: all;
    background-color: #628ca6;
}
tr:nth-child(even) {
    background-color: #e7ffed;
}
tbody {
    background-color: #e7f0ed;
}
