body {
    font-family: 'Lato', sans-serif;
}
/*------HEADER---------------------*/
header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}
header img {
	width: 80px;
	height: auto;
}
.headings {
	display: flex;
	flex-direction: column;
}
.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}
.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: #648c1a;
	margin-left: 20px;
	font-size: .9rem;
}
/*-----------------------------------*/
.vb {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #004d71;
    font-size: 1em;
    overflow: hidden;
}
.head {
   background-color: #004d71;
    text-align: left;
    text-transform: uppercase;
    padding: 21px 10px; 
    font-size: 0.9em;
    letter-spacing: 1px;
    color: white;
}

tr:nth-child(2n):not(.total) {
    background-color: #89abbc;
}
.total {
    background-color: #dd5f13;
    border: 3px dashed black;
    font-size: 1.3rem;
}
td {
    padding: 15px 10px;
}

tr:not(.head, .total):hover {
    background-color:#007481;
    color: white;
}
th {
    text-align: left;
    text-transform: uppercase;
    padding: 21px 10px; 
    font-size: 0.9em;
    letter-spacing: 1px;
}

