@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    margin: 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
}

h2 {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: lightseagreen;
    color: white;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #98989C;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: lightsalmon;
    color: white;
}

.header {
    background-color: lightseagreen;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: lightsalmon;
}

footer button {
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: lightsalmon;
}

.pendStyle {
    color: white;
    padding: 10px;
}

.selected {
    font-weight: 700;
    color: gray;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: lightsalmon;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

#none {
    display: none;
}

@media only screen and (min-width: 768px) {
    html {
        max-width: 25%;
    }

    li {
        list-style-type: none;
    }
}

