
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        html {
            margin: 0 auto;
            background-color: #38686A;
            padding-bottom: 40px;
            font-family: 'Lato', sans-serif;
        }
        body {
            background-color: white;
            width: 950px;
            margin: 0 auto;
            height: 100%;
        }
        h1 {
            padding: 10px;
            padding-bottom: 0px;
            text-align: center;

        }
        h2, h3 {
            padding: 10px;
            padding-bottom: 0px;
        }
        p {
            padding: 10px;
            padding-top: 0px;
        }
        li {
            padding: 10px;
            padding-top: 0px;
        }
        a {
            padding: 0px 0px 20px 20px;
        }
        a:link {
            color: #79B7B9;
            text-decoration: underline;
        }
        a:visited {
            color: black;
        }
        a:hover {
            color: #38686A;
            cursor: pointer;
        }
        @media screen and (min-width: 1000px) {
            
        }