html {
    max-width: 1040px;
    margin: 0 auto;
    background-color: #EBF5FE;
    font-family: "Raleway", sans-serif;
}

header, footer {
    background-color: #034078;
    color: white;
    padding: 1em;
}
footer, footer a {
    text-align: center;
    color: white;
}

img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 1em;
}