html {
    margin: 0 auto;
    background-color: #EBF5FE;
    font-family: "Quicksand", sans-serif;
}

/* css for header - logo, name, motto */
header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pancake {
    text-align: center;
    background-color: #fccf4d;
    padding: 15px;
    font-weight: 600;
}
#sky-logo{
    width: 80px;
    height: auto;
}
.headings {
    display: flex;
    flex-direction: column;
}
.m {
    color: #034078;
    font-style: italic;
}

/* css for nav- hamburger menu */
nav {
    margin: 0 auto;
    background-color: #034078;
}
#navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
}
#navigation li:first-child {
    display: block;
}
#navigation li {
    display: none;
}
.currentpage {
    background-color: #edae49;
    font-weight: 900;

}
#navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
    display: block;
    padding: .75em;
    text-align: left;
    text-decoration: none;
    color: black;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
#navigation a:hover {
    background-color: black;
}
#navigation.responsive li {
    display: block;
}

/* css for gallery */
main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    grid-gap: 10px;
}
img {
    width: 100%;
    height: 100%;
}
.contentbox {
  text-align: center;
  background-color: white;
  padding: 15px;
  margin: 1em;
  border-color: #444545;
  border-style: solid;
}

/* css for footer */
footer {    
    background-color: #034078;
    color: white;
    padding: 1px;
    text-align: center;
    margin-top: 20px;
}
footer, footer a {
    color: white;
}

@media only screen and (min-width: 34.5em){
        /* css for header*/
    #sky-logo {
        width: 100px;
    }

    /* css for nav- hamburger menu */
    nav {
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(7,auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
        text-align: center;
    }
    #navigation li:first-child {
        display: none;
    }
    .banner {
        position: relative;
    }
    #hero {
        margin: 10px auto;
    }
        main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1040px;

    }

}
@media only screen and (min-width: 54.5em){
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1040px;

    }
    .contentbox :hover {
        box-shadow: 0 0 50px #333;
    }
        /* css for nav- hamburger menu */
    #navigation {
        width: 800px;
        margin: 16px auto;
    }
    .content {
    max-width: 1040px;
    margin: 0 auto;
    }
    #hero {
        max-width: 975px;
        margin-left: 10px;
    }

    
}