@use 'variables'as *;

html {
    font-family: $body-font;
    background-color: $background-color;
    margin: 0 auto;
    height: 100%;
}

h1 {
    font-family: $headline-font;
    font-size: 60px;
}

.dot {
    background-color: $logo-color;
    border-radius: $logo-size/2.4;
}

a {
    color: $font-color;
    text-decoration: none;
}
a:hover {
    color: $logo-color;
}

.img-wrap {
    border: 2vw;
    box-shadow: -4px 4px 17px 13px rgb(0 0 0 / 8%);
}