@use 'variables'as *;

html {
    font-family: $body-font;
    background-color: $background-color;
    margin: 0 auto;
    height: 100%;
}

h1 {
    font-family: $headline-font;
    font-size: 10vw;
    @include alignSmall;
}

.dot {
    background-color: $logo-color;
    border-radius: $logo-size/2.4;
    height: $logo-size;
    width: $logo-size;
    margin-left: 47%;
    margin-top: -60px;
    margin-bottom: 20px;
    transform: rotate(30deg);
    position: fixed;
}

.head-link {
    @include alignSmall;

}

a {
    color: $font-color;
    text-decoration: none;
    padding: 1em;
}

a:hover {
    color: $logo-color;
}

img {
    margin: 0 auto;
    border: 2vw solid white;
    box-shadow: -4px 4px 17px 13px rgb(0 0 0 / 8%);
}

footer {
    @include alignSmall;
}