/*for global styles*/
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
html {
  font-family: "Hevetica", "Arial", sans-serif;
  background-color: #fdfbfb;
}

h1 {
  font-family: "Old Standard TT", serif;
  font-size: 60px;
}

.dot {
  background-color: #f33;
  border-radius: 22.5px;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #f33;
}