@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/*Variables*/
/*Mixins*/
html {
  max-width: 100%;
}

h1, h2, h3 {
  font-family: "Lora", serif;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: #FAEBD7;
}

/* nesting */
header {
  color: #FAEBD7;
  text-align: right;
  text-decoration: none;
  background-color: #6495ED;
  padding: 10px;
}
header a:link {
  color: #DEB887;
  text-decoration: none;
}
header a:hover {
  color: white;
  text-decoration: none;
}
header a:visited {
  color: #FAEBD7;
  text-decoration: none;
}

hr {
  width: 75%;
  align-items: right;
  margin-right: 5%;
}

ul {
  list-style-type: none;
}

p {
  padding: 5%;
}

body h2 {
  padding: 5%;
  padding-top: 0;
}

article {
  background-color: white;
  margin: 5%;
  box-shadow: 5px 5px 10px lightgray;
  padding: 5%;
}
article a:hover {
  color: #6495ED;
  text-decoration: none;
}
article a:link {
  color: #DEB887;
  text-decoration: none;
}
article a:visited {
  color: black;
  text-decoration: none;
}

.post-date {
  color: gray;
  padding: 5%;
  padding-bottom: 0;
}

img {
  width: 90%;
}

@media screen and (min-width: 1000px) {
  body div {
    display: flex;
  }

  img {
    width: 30%;
  }
}