html {
    margin: 0 auto;
    background-color: #F8F4F1;
}
h1, h2, h3 {
    font-family: 'Lora', serif;
    color: #4a4e69;
}
p {
    font-family: 'Source Sans Pro';
}
/* css for header & logo */
header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4a4e69;
}
a {
  text-decoration: none;
}

nav {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #4a4e69;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  padding: 0;
  grid-template-columns: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin: 0 auto;
}
#navigation li:first-child {
    display: block;
}
#navigation li {
    display: none;
}
ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  display: grid;
}

li {
  color: #fff;
  background: #4a4e69;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}
  
li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: #9a8c98;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #9a8c98;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 1rem;
  z-index: 12;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.current {
    background-color: #9a8c98;
    font-weight: 700;
    color: #F8F4F1;
}
#navigation.responsive li {
    display: block;
}


/* main css */
main {
  margin-left: 20px;
  margin-right: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}
#recep-info{
  padding: 10px;
}
#recp-img {
  padding: 10px;
  width: 100%;
}
/* css for footer */
footer {    
    background-color: #4a4e69;
    padding: 1px;
    text-align: center;
    margin-top: 20px;
}
footer, footer a {
    color: #F8F4F1;
}
@media only screen and (min-width: 34.5em){ 
    nav {
        max-width: 100%;
    }
    #navigation {
        grid-template-columns: repeat(7,auto);
    }
    #navigation li {
        display: block;
    }
    #navigation a:link, #navigation a:visited, #navigation a:hover, #navigation a:active, #navigation a:focus {
        text-align: center;
    }
    #navigation li:first-child {
        display: none;
    }
    ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}
}

@media only screen and (min-width: 54.5em){ 
     #navigation {
        width: 800px;
        margin-left: 400px;
     }
     ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
}
  .content {
        max-width: 1040px;
        margin: 0 auto;
    }
    main {
      grid-template-columns: 1fr 1fr;
    }
    #recp-img{
    width: 500px;
    padding: 10px;
    grid-column: 2;
}
#recep-info {
  grid-column: 1;
  grid-row: 1;
}
}