html {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
main { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#mainContainer {
    grid-column: 2;
}
#imgContainer {
    position: absolute;
    z-index:-1;
    box-shadow: 0 0 15px grey;
}
#card-img {
    width: 100%;
    overflow: hidden;
    height: 800px;
}
#icon {
    width: 50%;
}

.day1{
    width: 250px;
    color: white;
    text-align: center;
    position: relative;
}
table {
    color: white;
    position: relative;
    text-align: center;
    top: 450px;
}
.location{
    font-size: 20px;
    padding: 0;
    position: relative;
    top: 50px;
    left: 250px;
    color: white;
}
